<!DOCTYPE html>
<html>
  <head>


    <meta charset="UTF-8">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">;

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
  <script src="{{ url_for('static', filename='sevenSeg.js') }}"></script>

    <title> Incremental Demo </title>
    <style>
div {
  hieght :100px;
  width: :50px;
}    </style>
    </head>

<body>
<nav class="navbar navbar-default">
<ul class="nav nav-tabs">
  <li><a href="/">Demo1</a></li>
  <li><a href="/demo1">Demo2</a></li>
</ul>
</nav>

   
<div id="topper"></div>
    {% block main_content %}

    {% endblock %}




</body>

</html>
